 <footer>
        <address>
            <strong>Contact Bikenolimit:</strong><br>
            Telefon: <a href="tel:+40123456789012345">09998888888</a><br>
            Email: <a href="mailto:office@bikenolimit.ro">office@bikenolimit.ro</a><br>
            Locație: <a href="https://maps.app.goo.gl/PzpLcU5KqxqzgJ2XA" target="_blank">Strada Academiei, Nr. 14</a>
        </address>
        <p id="banner-proiect">Acesta este un proiect școlar!</p>
        <iframe 
         src="https://maps.google.com/maps?q=Strada+Academiei+14,Bucuresti&t=&z=15&ie=UTF8&iwloc=&output=embed" 
         width="400" 
         height="200" 
         style="border:0;" 
         allowfullscreen="" 
         loading="lazy" 
         referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p><small>Copyright &copy; 2026 Balan Eduard-Stefan.</small></p>
    <p>IP-ul tău este: <%= ip %></p>
    </footer>


    <a href="#top" id="link-top" data-tooltip="Sari la începutul paginii">
        <div class="paranteze-top">
            <div id="triunghi"></div>
        </div>
    </a>