<header>
    <h1><i class="fa-solid fa-bicycle"></i> Bikenolimit</h1>
    <nav class="nav-principal">
        <input type="checkbox" id="ch-menu">
        <label for="ch-menu" class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </label>

        <ul class="meniu">
            <li>
                <a href="/index" class="opt-acasa">
                    <i class="fa-solid fa-house"></i> <span>Acasă</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#zona1">Prezentare</a></li>
                    <li><a href="#zona2">Tarife Service</a></li>
                    <li><a href="#zona8">Tutoriale</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-store"></i> <span>Magazin</span></a>
                <ul class="submeniu">
                    <li><a href="#">MTB / Trail</a></li>
                    <li><a href="#">Cursiere Speed</a></li>
                    <li><a href="#">Echipament</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i> <span>Service</span></a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i> <span>Coș</span></a></li>
            <li><a href="/despre"><i class="fa-solid fa-circle-info"></i> <span>Despre</span></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i> <span>Contact</span></a></li>
        </ul>
    </nav>
</header>